<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Pizza</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

<div class="container-fluid">
    <div class="card-columns">
        <div class="card" style="width: 100%; display: inline-block;" th:each="pizza:${pizzas}">
            <div class="embed-responsive embed-responsive-16by9">
                <img class="embed-responsive-item card-img-top" th:src="${pizza.urlImage}" alt="${pizza.libelle}">
            </div>
            <div class="card-body">
                <h5 th:text="${pizza.libelle}" class="card-title"></h5>
                <a th:href="@{pizza/detail(id=${pizza.id})}" class="btn btn-primary">Detail</a>
                <a th:href="@{pizza/delete(id=${pizza.id})}" class="btn btn-primary">Supprimer</a>
                <a th:href="@{pizza/add}" class="btn btn-primary">Ajouter</a>
            </div>
        </div>
    </div>
</div>





</body>
</html>